.filter-bar {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  gap: 10px;

  .dropdown-container {
    display: flex;
  }
}

@media screen and (max-width: 560px) {
  .filter-bar {
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
  }
  .dropdown-container{
    margin-left: auto;
  }
}