.table-container {
	max-width: 900px;
	margin: auto;
	overflow-x: auto;
	text-align: center;
}

.leave-table {
	border: 1px solid gray;
	width: auto;
	display: inline-block;
	white-space: nowrap;
}

.table-head-row,
.table-body-row {
	height: 4rem;
}

.table-head-row,
.table-body-row:nth-child(even) {
	background-color: lightgray;
}


